.tiles-svg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #232323;
  border: 2px solid lightgrey;
}

.tiles-svg .blend-isolate {
  isolation: isolate;
}

.tiles-svg .blend-multiply {
  mix-blend-mode: lighten;
}

.tiles-svg.dimed .tile-layers .tile-layer {
  opacity: .4;
}

.tiles-svg.dimed .group-layers {
  opacity: .4;
}

.group-loading-bar {
  top: 2px;
  z-index: 10;
}
