.background {
  width: 100%;
  height: 100%;
  background-color: #343a40;
  background: url(../../../assets/bg-masthead.jpg);
  background-size: cover;
}

.maintenance-container {
  min-height: 100vh;

  h1 {
    line-height: 85px;
  }

  .divider {
    width: 20em;
    border-color: white;
  }
}

.maintenance-footer {
  color: white;
  width: 98%;
  position: absolute;
  bottom: 1em;
}
