.login-card {
  /* margin-top: 60px; */
  width: 35em;
  margin: 60px auto;
}
.card-header{
  overflow: hidden;
  top: -30px;
  margin: auto;
  width: 50%;
  padding: 25px;
  border-radius: 3px;
  background: linear-gradient(60deg, #6c757d, #424242);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(23, 23, 23, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header h4{
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}
