.group-filters-dialog .mat-dialog-title .btn-close {
    line-height: 32px;
    float: right;
    padding: 0;
    width: 0.6em;
    height: 0.6em;
}

.group-filters-dialog .mat-dialog-container {
  overflow: visible;
}

.group-filters-dialog .mat-dialog-content {
  overflow: visible;
}
