.point-card {
  font-size: .75em;
}

.point-card .card-body .point-label {
  max-height: 10em;
  overflow: auto;
}

.point-card .card-subtitle .point-nature {
  line-height: 1;
}

.point-card .card-subtitle .extra-field {
  font-size: .9em;
}

.point-card .url-link .material-icons {
  font-size: 16px;
  vertical-align: text-bottom;
}

.point-card .card-actions .material-icons {
  font-size: 20px;
}

.point-card .card-title-icon .material-icons {
  font-size: 20px;
}

.point-card.active {
  border: 1px solid;
}

.point-card .point-clear {
  position: absolute;
  right: .5rem;
  top: .3rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  line-height: 1rem;

  &:hover {
    color: rgba(0,0,0,0.87);
  }
}

.point-card {
  .card-actions {
    display: none;

    .material-icons {
      cursor: pointer;
    }
  }
  .card-title-icon {
    display: inherit;
  }
  .card-subtitle {
    display: none;
  }
}

.point-card.open {
  .card-actions {
    display: block;
  }
  .card-subtitle {
    display: block;
  }
  .card-title-icon {
    display: none;
  }
}
