.dashboard-container {
  height: 85vh;
}

.main-container {
  width: 100%;
  // min-height: 60%;
  height: 100%;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.map-control {
  flex: 1;
}

.menu-container {
  width: 100%;

  @media (min-width: 768px) {
    width: 15em;
    max-height: 100%;
  }
  @media (min-width: 992px) {
    width: 25em;
  }
}

.results-container{
  max-height: 25em;
  overflow: scroll;
  @media (min-width: 768px) {
    height: 80%;
    max-height: none;
    overflow: inherit;
  }
}

.map-title {
  font-size: 1.25rem;
  // margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.map-keys {
  margin-top: .75em;
  font-size: 12px;
}

.map-keys .menu-group ul {
  margin-bottom: 0;
}

.map-keys .menu-group .label-icon {
  vertical-align: middle;
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.map-keys .menu-group .layer-item {
  cursor: pointer;

  &.inactive {
    color: #6c757d !important;
    .label-icon {
      color: #6c757d !important;
    }
  }
}

.no-underline-link {
    text-decoration: none !important;
}
