.point-list-container{
  height: 100%;
}

.point-list-container .search-clear {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  font-size: 1rem;
  line-height: 24px;

  &:hover {
    color: rgba(0,0,0,0.87);
  }
}

.search-results-container {
  flex: 1;
  overflow: scroll;
}

.search-results-container .point-result {
  cursor: pointer;
}

.search-results-container .point-result:hover .point-card {
  background-color: #ededed;
}
